footer {
    background-color: var(--dark-bgcolor);
    padding: 60px 0;
}

footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

footer .container div:nth-of-type(1) {
    margin-right: 70px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__logo--decor {
    color: var(--white-color);
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__address,
.footer__contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer__contact {
    color: var(--footer-gray-color);
}

footer .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 206px;
}

footer .social__item .social__link {
    fill: var(--white-color);
    background-color: var(--icon-dark-gray-color);
    -webkit-transition: background-color 250ms var(--timing-cubic);
    -o-transition: background-color 250ms var(--timing-cubic);
    transition: background-color 250ms var(--timing-cubic);
}

footer .social__item .social__link:hover,
footer .social__item .social__link:focus {
    background-color: var(--accent-color);
}

footer .container div:nth-of-type(2) {
    margin-right: auto;
}