.special__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.special__item {
    -ms-flex-preferred-size: calc((100% - 3*30px)/4);
        flex-basis: calc((100% - 3*30px)/4);
}

.special__item:not(:last-child) {
    margin-right: 30px;
}

.special__icon-container {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--gray-bgcolor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

.special__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-text-color);
    margin-bottom: 10px;
}

.special__desc {
    letter-spacing: 0.03em;
    color: var(--gray-text-color);
}