.section-team {
  margin-bottom: 0;
  padding-bottom: 94px;
  background-color: var(--gray-bgcolor);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.team__card {
  -ms-flex-preferred-size: calc((100% - 90px)/4);
    flex-basis: calc((100% - 90px)/4);
  background-color: var(--white-color);
  -webkit-box-shadow: var(--card-shadow);
      box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__text {
  padding: 30px 32px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: .03em;
  color: var(--dark-text-color);
}

.team__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.team__desc {
  margin-bottom: 16px;
  color: var(--gray-text-color);
}

.section-team .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}