.section-team {
    background-color: var(--gray-bgcolor);
    margin-bottom: 0;
    padding-bottom: 94px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
}

.team__card {
    flex-basis: calc((100% - 90px)/4);
    background-color: var(--white-color);
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team__card:not(:last-child) {
    margin-right: 30px;
}

.team__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-text-color);
    padding: 30px 32px;
}

.team__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.team__desc {
    color: var(--gray-text-color);
    margin-bottom: 16px;
}

.section-team .social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}