.social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  border-radius: 50%;
  fill: var(--icon-gray-color);
  -webkit-transition: background-color 250ms var(--timing-cubic);
  -o-transition: background-color 250ms var(--timing-cubic);
  transition: background-color 250ms var(--timing-cubic);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--white-color);
}